.product-details {
  width: 100%;
  padding: 60px 10vw;
  display: flex;
  justify-content: space-between;
}
#poze {
  width: 500px;
  height: 500px;
  position: relative;
  
  background-size: cover;
}
#product-images {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-height: 100px;
  grid-gap: 10px;
  padding: 10px;
}
.product-images img {
  max-width: 100%;
  max-height: 80px;
  object-fit: cover;
  cursor: pointer;
}
.product-images img.active {
  opacity: 0.5;
}
.details {
  width: 50%;
}
.details .prduct-bradn {
  text-transform: capitalize;
  font-size: 30px;
}
.details .product-short-des {
  font-size: 25px;
  line-height: 30px;
  height: auto;
  margin: 15px 0 30px;
}
.product-price {
  font-weight: 700;
  font-size: 30px;
}
.product-actual-price {
  font-size: 1.5rem;
 
  margin: 0 20px;
  font-weight: 300;
}
.product-discount {
  color: #ff7d7d;
  font-size: 20px;
}
.btn {
  width: 48%;
  padding: 20px;
  border-radius: 5px;
  background: none;
  border: 1px solid #383838;
  color: #383838;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 0;
  text-transform: capitalize;
}
.cart-btn {
  margin-right: 2%;
  background: #383838;
  color: #fff;
}
.detail-des{
  padding: 0 10vw;
  text-transform: capitalize;
  
}
#product-price{
  
  
  margin: 0 20px;
  font-size: 1.7rem;
}
.heading{
  font-size: 30px;
  margin-bottom: 30px;
}
.des{
  color: #383838;
  line-height:25px;
}

.cantitate{
  display: flex;
  align-self: center;
  padding: 20px;
  font-size: 1.5rem;
}
.cantitate #quantity{
  height: 20px;
  width: 100px;

}
#product-brand{
  padding: 20px;
}
#decrease {
  width: 20px;
  height: 20px;
background-color: #fff;
color: black;
}

